<div class="wrap">
  <nm-date-picker
    [nmMarkWeekends]="true"
    [nmWeekendDisplayMethod]="'end'"
    [nmLanguage]="'ru'"
    [(ngModel)]="date"
    [pickerMode]="'date'"
    [nmTheme]="'dark'"
    [nmSelectorDateFormat]="'dd/MM/YYYY'"
    [nmDisplayMethod]="'dropdown'"
    [nmRangeSelection]="true"
    (ngModelChange)="log($event)"
  ></nm-date-picker>
  <div class="test" style="width: 100%">
    <nm-date-picker
      [nmMarkWeekends]="true"
      [nmWeekendDisplayMethod]="'end'"
      [nmLanguage]="'fr'"
      [nmTheme]="'dark'"
      [nmSelectorCustomLabel]="'Testing for a very long name that is longer'"
      [(ngModel)]="date2"
      [pickerMode]="'date'"
      [nmDisplayMethod]="'dropdown'"
      [nmRangeSelection]="true"
      [nmCustomLocalization]="LOCALIZATION_FRENCH"
      (ngModelChange)="log($event)"
    ></nm-date-picker>
  </div>
  <nm-date-picker
    [nmMarkWeekends]="true"
    [nmWeekendDisplayMethod]="'end'"
    [nmLanguage]="'ru'"
    [(ngModel)]="date"
    [pickerMode]="'date'"
    [nmDisplayMethod]="'inline'"
    [nmTheme]="'dark'"
    [nmMinDate]="now"
    [nmMaxDate]="max"
    [highlightedDates]="datesHighlightFn"
    [nmRangeSelection]="true"
    (ngModelChange)="log($event)"
  ></nm-date-picker>

  <nm-date-picker
    [nmMarkWeekends]="true"
    [nmWeekendDisplayMethod]="'end'"
    [nmTheme]="'dark'"
    [nmLanguage]="'en'"
    [(ngModel)]="date3"
    [pickerMode]="'date'"
    [nmDisplayMethod]="'inline'"
    (ngModelChange)="log($event)"
  ></nm-date-picker>

  <nm-date-picker
    [nmMarkWeekends]="true"
    [nmWeekendDisplayMethod]="'end'"
    [nmLanguage]="'am'"
    [nmTheme]="'light'"
    [(ngModel)]="date"
    [pickerMode]="'month'"
    [nmDisplayMethod]="'inline'"
    [nmDisabled]="true"
    (ngModelChange)="log($event)"
  ></nm-date-picker>

  <nm-date-picker
    [nmMarkWeekends]="true"
    [nmWeekendDisplayMethod]="'end'"
    [nmLanguage]="'ru'"
    [nmTheme]="'dark'"
    [(ngModel)]="date"
    [disabledDates]="disabledDates"
    [nmDisplayMethod]="'inline'"
    [pickerMode]="'date'"
    (ngModelChange)="log($event)"
  ></nm-date-picker>
</div>

<!-- <img #imgTest [src]="image" id="imageForTest" nmImageBlur /> -->

<!-- <div
[nmImageBlur]="image"
style="width: 350px; height: 350px"
>

</div>
 -->
